<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EF0vr6CcjWj+hqXXGu3vudih1VUmdG6qnSAfuJHsF8FHtN0QrMnbkHSqT5+QtIKwDhI1BNm5egn8dJuDBcOOGKTYum+iTdGGUzLdZNow9nhlxa6XuFrH5Zp4M62VsSAGOjOV0bC9X7+DaRyQsCj6+bUv5RA9ZUKSO64rF8jUkjqCKx9ZfGyI7jIbz9PiVKzlR2c2/anTomVlaBtWIak0Z08wXf+YoV7KoPrcz4IFdOa3Q==" />
    <add key="MNGConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EHwR3BfUMc9N6rJzQiWrNYgepT+6HRhG8FYGk3VQMY1IP39tHRsO7E8tpTHTrsNBBukMRtbYtrDiW4nzyFyaoDUJvEU2rGkjsr9cAjKRTmbHuyGo2kH5EkXTakgm9FIa404vPvN9gGFgg1SIT/1lnvke3oQv80su6CNYaadU3Op+ScOv1IUgh4WKFVag241icL69KX8akrVW/zclTr72PG6EZKplWe24W4YVkn3k2N2lg==" />
    <add key="CMSConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EHzVpLWG1fioOgM/bKXQW4wUEoZRYnaZciSN6ylFLAb741p9a4icPMuIhvf47QStGzGT3Al4v4zxA+VEDJmpNjYBn+R6Xei9pexthTbugP2nnLQHqgi+uWRMYHjPFTtM5L52yw7fjj3O5C4/SV47NSTkQtI0T/twEngTLvMMwOfTcOx6dxRmL6k4qGFh2hEwAu1izVuKbThKD2hXsj/dVmmM2Ryy9yHiIcbqe9tEp1FCw==" />
    <add key="LOGConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EGdmjL8SZpML5aa39Hm49JEANkGvReS0EU8KpLLzR1mL3d45z+aKy/bI8K4kxL/MLM9x60xn0+967B0Hd+/DyrEAUxwKWCHiTBOx+KCZpfDZLK1JQgag157yJHq4RHRktORQYz1JmCaR9gshHQ9WDLK2JxlAEo3pdeuhZLSPLrrM6Rgxwx0bzxfOOkU5aLkZzNLijmFUk2VjT0nn5OqkhnkU0dyHJoE1698Wvqvoi9ARw==" />
    <add key="MTVConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EGIpB6nQXrF2wOYojB4CDNsN6G0zuocBa/7douuB9zVjsrv7Z4Dp6M3R/vQhYl+fhybPm6GOMKL/AKijewqYKGNxTB1zSN7wJf1IvZKjAPfnBBm2yxkKHfJDTlSBIDUYCdCOJnvuUChPyFjKP8GCL20+uY38kWkkb1DKreE3FqtC4ki0xwISRSuNVehqnPAD5ePBPH505YctbZv5UAwiMzblF13kKbfGmzOempNf0l+tA==" />
    <add key="CUAConnectionString" value="qWVg+NtCPsfGc0w1WetW3rA8+Kt1rUYDym5jcqTU/EG10YnyykYkvh6zpXNeVapomO0yLwUVLhK4Nujmi20vb5bqc3n7yaqxAt+SQUMQ67EfGjVU/Svmg/7No3geTRVYXtiRh5M00c66kI684eXTyhLZn12APmO5ep/f7r1BQOVeZIvNzpqmndnzpFhysVrk7EdZeCFayoeXLWVgolMFE4RS4vFwDUIe66/eLiBJARtaVUHNvDbSyEYMTpSB4eogqmkellmizdWCVcn3ouxXQg==" />
  </appSettings>
</configuration>